@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./colors.css");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.02);
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: auto;
  font-size: 16px;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.image-aqua-marker-home {
  width: 100%;
  min-height: 100vh;
  height: auto;
  filter: opacity(0.01);
  position: fixed;
  z-index: -1;
}

.image-aqua-marker-detail {
  width: 70%;
  height: auto;
  filter: opacity(0.02);
  position: fixed;
  right: -126px;
  bottom: -30%;
  z-index: -1;
}

@media (max-width: 767px) {
  .image-aqua-marker {
    filter: opacity(0.04);
    width: 100%;
    right: -16%;
    bottom: 31%;
  }
}

.wrapper-preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper-preloader .item-omit-preloader {
  margin: auto;
  position: absolute;
  right: 3rem;
  bottom: 2.2rem;
  background: red;
  padding: 0.7rem 2rem;
  width: auto;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 7rem;
  z-index: 999;
}

.wrapper-preloader .item-omit-preloader:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  background: rgb(201, 10, 10);
}

@media (max-width: 768px) {
  .wrapper-preloader .item-omit-preloader {
    right: 2rem;
    bottom: 4rem;
  }
}

.image-pixelated {
  image-rendering: pixelated;
}

.wrapper-preloader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-pokedex {
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.wrapper-icon-theme {
  background: #fff;
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-theme {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0.4rem;
  height: auto;
  cursor: pointer;
}

.form-label {
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.input-search-form {
  border-radius: 3rem;
  padding: 0.7rem 1.6rem;
  font-size: 1.2rem;
  border: 2px solid #d0d9ea;
  transition: all ease-in-out 0.2s;
}

@media (max-width: 767px) {
  .input-search-form {
    font-size: 1.1rem;
  }
}

.input-search-form:hover {
  transition: all ease-in-out 0.2s;
  border: 2px solid #6fa1ffb6;
}

.input-search-form:focus {
  transition: all ease-in-out 0.2s;
  border: 2px solid #6fa1ffb6;
}

.btn-form-search {
  padding: 0.5rem 2rem;
}

.wrapper-pokemon-types {
  color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.wrapper-amount-pokemons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem auto 1rem auto;
  padding: 0 1.5rem;
  color: #9b9b9b;
  font-weight: 400;
}

.wrapper-amount-pokemons .txt-amount-pokemons:first-child {
  font-size: 0.9em;
}
.wrapper-amount-pokemons .txt-amount-pokemons:last-child {
  font-size: 1em;
  font-weight: 500;
}

.item-type {
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}

.btn-more-pokemons {
  padding: 0.3rem 2rem;
  font-size: 1.1rem;
}

/****UTILS*****/
.none {
  display: none !important;
}
.visible {
  display: visible !important;
}

/***cards**/

.list-group {
  display: grid;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 1.5rem;
}

.item-list {
  cursor: pointer;
  border-radius: 1.3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  overflow: hidden;
  position: relative;
}

.item-list .pokeball-icon-img {
  position: absolute;
  top: -2rem;
  left: -2.4rem;
  width: 11em;
  opacity: 0.3;
  transition: all ease-in-out 0.3s;
}

.item-list:hover .pokeball-icon-img {
  opacity: 0.2;
  transition: all ease-in-out 0.3s;
  transform: scale(1.1) translate(1rem, 1rem);
}

.item-list .img-pokemon-list {
  width: 130px;
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(0 1px 3px hsla(0, 0%, 100%, 0.9));
  filter: drop-shadow(0 1px 3px rgba(255, 255, 255, 0.9));
  transition: all ease-in-out 0.3s;
}

.item-list:hover .img-pokemon-list {
  transform: scale(1.2) translateY(0);
  transition: all ease-in-out 0.3s;
}

.item-list a {
  text-decoration: none;
}

.item-list a h3 {
  text-transform: capitalize;
  font-size: 1.7em;
  color: white;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.53);
}

.item-list:hover h3 {
  font-size: 2em;
  transition: all ease-in-out 0.3s;
}

.item-list .description {
  width: 100%;
  margin: auto;
}

.item-list .description .item-type {
  padding: 3px 8px;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(0 0 0 / 24%) !important;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.item-list:hover .item-type {
  transform: scale(1.1, 1.1);
  transition: all ease-in-out 0.3s;
}

/***DETAIL POKEMON***/

.wrapper-title-pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pokemon-detail {
  border-radius: 1.3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  position: relative;
}

.card-pokemon-detail::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(2rem);
  border-radius: 1.2rem;
  border: none;
  z-index: -1;
}

.wrapper-pokemon-information {
  width: 80%;
}

.card-pokemon-detail .card-title {
  text-transform: capitalize;
}

.card-pokemon-detail .detail-type-pokemon {
  color: transparent;
}

.card-pokemon-detail .detail-type-pokemon .item-type {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 9px #fff;
}

.color-black {
  color: black;
}

.color-darken {
  color: rgb(34, 34, 34);
}

.color-white {
  color: black;
}

.element-link {
  cursor: pointer;
}

.wrapper-evolutions .name-pokemon {
  text-transform: capitalize;
  color: #444;
}

.wrapper-image-detail {
  display: flex;
  justify-content: center;
  width: auto;
  height: 15em;
}

.wrapper-image-detail .img-pokemon {
  width: 17em;
  height: auto;
  object-fit: contain;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(0 2px 5px hsla(0, 0%, 100%, 0.9));
  filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.9));
  margin-bottom: -4rem;
  margin-top: 1rem;
  z-index: 999;
}

@media (max-width: 768px) {
  .wrapper-image-detail .img-pokemon {
    width: 15em;
    margin-bottom: -0.5rem;
  }
  .wrapper-pokemon-information {
    width: 100%;
  }
}

.list-stats div li {
  cursor: inherit;
}

.list-stats .item-stat {
  min-width: 170px;
  width: auto;
}

.item-img-row {
  display: flex;
  align-items: center;
}

.item-img-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: transparent;
}

.item-img-evolution {
  margin: 0.7rem;
  transition: all 0.5s ease-in-out;
}

.item-img-evolution .img-pokemon-evolution {
  width: 100px;
  image-rendering: auto;
}

.item-img-evolution a {
  display: block;
}

.item-img-evolution:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.wrapper-icons-pagination {
  position: fixed;
  bottom: 2%;
  right: 3%;
}

.item-icon {
  font-size: 2.5rem;
  margin: 0 0.4rem;
  cursor: pointer;
}

.item-icon:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.wrapper-go-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media print {
  /***display none*****/
  .container-header,
  .wrapper-pokemon-capture,
  .wrapper-icons-pagination {
    display: none;
  }
}

.wrapper-go-back .item-go-back {
  font-size: 2rem;
  margin: 0 0.4rem;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.wrapper-go-back .item-go-back:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.wrapper-item-speech {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper-item-speech .item-speech {
  width: 2.5em;
  height: 2.5em;
  background-color: #32ccff;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: inset 0 0 11px 0rem #44444494;
  position: relative;
}

.wrapper-item-speech .item-speech:after {
  content: "";
  border-radius: 50%;
  border: 1px solid #444;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animate-speech {
  -webkit-animation: flash infinite 0.7s;
  animation: flashBg infinite 0.7s;
}

@-webkit-keyframes flashBg {
  0%,
  50%,
  100% {
    background-color: #32ccff;
    box-shadow: 0 ​0 7px #fff;
  }
  25%,
  75% {
    background-color: #fff;
    box-shadow: 0 ​0 15px #fff;
  }
}
@keyframes flashBg {
  0%,
  50%,
  100% {
    background-color: #32ccff;
    box-shadow: 0 ​0 7px #fff;
  }
  25%,
  75% {
    background-color: #fff;
    box-shadow: 0 ​0 15px #fff;
  }
}

/****Pokeball loading****/

/* Poké Styles */
.wrapper_pokeball_loading {
  position: relative;
  width: 10em;
  height: 10em;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: fall 0.25s ease-in-out, shake 1.25s infinite;
  margin-bottom: -2rem;
  margin-top: 5rem;
  z-index: 999;
}

@media (max-width: 767px) {
  .wrapper_pokeball_loading {
    width: 9em;
    height: 9em;
    margin-bottom: -1rem;
  }
}

.wrapper_pokeball_loading::before,
.wrapper_pokeball_loading::after {
  content: "";
  position: absolute;
  left: 0;
}
.wrapper_pokeball_loading::before {
  background: red;
  width: 100%;
  height: 50%;
}
.wrapper_pokeball_loading::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball_loading {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 0.8s infinite linear;
}

.container-stats {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1060px) {
  .container-stats {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

.container-chart {
  margin: auto;
  width: 30em;
  padding: 1rem;
  background: radial-gradient(
    circle at 50% 50%,
    rgb(255 255 255 / 24%) 0%,
    rgb(255 255 255 / 0%) 52%,
    rgb(255 255 255 / 0%) 100%
  );
}

@media (max-width: 768px) {
  .container-chart {
    margin: auto;
    width: 100%;
    padding: 0;
  }
}

.container-evolutions {
  padding: 1rem;
}
/* Animation */
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}
@keyframes shake {
  0 {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes fall {
  0% {
    top: -200px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
